################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MVVMTest/obj/Debug
/.vs/Dat-conventer/v16
/.vs/MVVMTest/v16
/.vs/DataConventer/v16
